<!-- <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25%">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" class="login-form">
            <mat-form-field >
              <input matInput placeholder="Username" fxLayout="coloumn">
            </mat-form-field>
          
            <mat-form-field >
                <input matInput type="password" placeholder="Password">
              </mat-form-field>
            <button mat-raised-button type="submit">login</button>
          </form>
    </mat-card>
  </div> -->

  <div  class="main-div">
    <mat-card >
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form  class="login-form" >
            <div class="field">
                <mat-form-field >
                    <input matInput placeholder="Username" fxLayout="coloumn">
                  </mat-form-field>
            </div>
            
          <div class="field">
            <mat-form-field >
                <input matInput type="password" placeholder="Password">
              </mat-form-field>
          </div>
            <div  >
                <button mat-raised-button type="submit">login</button>
            </div>
            
          </form>
    </mat-card>
  </div>
